* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

:root {
    --mainbabackgroundcolor:#faebd7
}

body {
    min-width: 320px;
    min-height: 100vh;
    font-family: 'Amatic SC', cursive;
    font-size: 1rem;
    letter-spacing: 0.01rem;
    line-height: 1.6;
    background-color: #FAACA8;
    background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 52%, #d8b3f7 100%);
    
}

section {
    width: 90%;
    margin: 2rem auto;
    background-color: none;
    margin-bottom: 2rem;
    min-height: 100px;
}
.home-main {
    text-align: center;
}

/*aside {
    background-color: none;
    min-height: 100px;
}*/

/*div {
    background-color: none;
    min-height: 100px;
}*/

h1 {
    background-color: none;
    color: #FFFCE8;    
    font-size: 5rem;
    letter-spacing: 1rem;
}

/* .cosmic { 
    width: 300px;
    height: 300px;    
} */

h2 {
    color: #FFFCE8;
    font-family: 'Amatic SC', cursive;
    font-size: 2.5rem;
    font-style: italic;
}

.btn-main {
    background-color: purple;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto 0;
}

.btn-main:hover {
    background-color: #F24C3D ;
    color: plum;
}

.travel {
    background-color: purple;
    border:#F24C3D;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto 0;
}

.travel:hover {
    background-color: #F24C3D;
    color: white;
    border: purple;
}

#fairy {
    text-align: center;
    align-items: center;
    padding: 30px;
    width: 90%;
    height: 90%;
    background-color: white;
    border: #FAACA8;
    margin: 2rem auto 0 auto;
}
.column {
        float:left;
        width: 50%;
        padding: 30px;
    }

.row:after {
    content: ""; 
    display: table;
    clear: both;
}

h3 {
    font-size: 2rem;
    font-weight: 300;
}

/*.content {
    color:blueviolet;
}
 #more-content {
   background-color: azure;
 } 

section ul {
    list-style: disc;
    padding-left: 1.rem;
    
}

section ol {
    list-style: number;
}
section li {
    background-color: none;
    margin-bottom: 1rem;
    padding: 2rem
}*/

p {
    font-family: 'Literata', serif;
}



